@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//* Mes variables couleurs :
$gray: #888888;
$pink: #ff3368;
$blue: #0c2e60;

$custom-colors : (
    "pink" : $pink ,
    "gray" : $gray ,
    "blue" : $blue ,
);
$theme-colors : map-merge($theme-colors , $custom-colors);

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
